#fb-buttons {
    border : solid 1px;
  margin : 5px;
  padding : 10px;
  
}

form {
	 border : solid 1px;
  margin : 5px;
  padding : 10px;
	
}



div .event {
	
	border : solid 1px;
	margin : 5px;
	padding : 10px;
	
}

